{{!-- src/views/partials/navigation.hbs --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/index">
      <b>ACCESORIOS</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">

        <li class="nav-item">
          <a class="nav-link" href="/index">Inicio</a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link" href="/chat">chat</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/form">Contacto</a>
        </li>  
                <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar</a>
        </li>  
        
        
        
      </ul>
    </div>
  </div>
</nav>
